body{
    padding: 0;
    margin: 0;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url("LeuchtturmWarnemuende_ROW9841491173_1920x1080.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
    .center-block{

    }
        .radioButtons{
            width: 700px;
            height: 140px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
            .radioButtons-button{
                width: 180px;
                height: 60px;
                background: rgba(255, 255, 255, 0);
                border-radius: 4px;
                border: 1px solid white;
                text-align: center;
                line-height: 60px;
                font-size: 24px;
                font-weight: 700;
                font-family: lato,sans-serif;
                color: white;
                transition: color 300ms, background 300ms;
                cursor: pointer;
            }
            .radioButtons-button:hover{
                color: black;
                background: rgba(255, 255, 255, 1);
            }
        .center-block-description{
            width: 100%;
            margin-bottom: 30px;
        }
            .center-block-description-text{
                width: 100%;
                color: white;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                font-family: lato,sans-serif;
                margin-bottom: 20px;
            }
            .center-block-description-select{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 20px;
            }
                .center-block-description-select-text{
                    font-size: 20px;
                    font-weight: 700;
                    font-family: lato,sans-serif;
                    color: white;
                }
                .center-block-description-select-selector{
                    outline: none;
                    width: 300px;
                    height: 30px;
                    border: 1px solid white;
                    border-radius: 3px;
                    color: white;
                    background: transparent;
                    text-align: center;
                    padding-left: 60px;
                    font-size: 20px;
                    font-weight: 700;
                    font-family: lato,sans-serif;
                }
                .center-block-description-select-selector > option {
                    background-color: #2d2d37;
                    border: 1px solid white;
                    border-radius: 3px;
                }
            .center-block-description-move{
                width: 100%;
                display: flex;
                justify-content: center;
            }
                .center-block-description-move-block{
                    width: 200px;
                    height: 40px;
                    display: flex;
                    justify-content: space-around;
                    background: rgba(0, 0, 0, .4);
                    border-radius: 3px;
                }
                    .center-block-description-move-block-sign{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 40px;
                        text-align: center;
                        font-size: 30px;
                        font-weight: 700;
                        font-family: lato,sans-serif;
                        color: white;
                    }
                    .center-block-description-move-block-text{
                        height: 40px;
                        line-height: 40px;
                        font-size: 20px;
                        font-weight: 700;
                        font-family: lato,sans-serif;
                        color: white;
                    }
        .center-block-game{
            width: 100%;
            display: flex;
            justify-content: center;
        }
            .main-field{
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
            }
                .game-field{
                    width: 40px;
                    height: 40px;
                    background: rgba(0, 0, 0, .4);
                    border-radius: 3px;
                    margin: 5px;
                    color: white;
                    line-height: 40px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 700;
                    font-family: lato,sans-serif;
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
.winLine{
    height: 3px;
    width: 3px;
    left: 19px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 19px;
    z-index: 100;
    box-shadow: 0 0 15px 5px rgb(42, 242, 255);
    transition-property: width, height, left, top;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    /*transform: rotate(45deg);*/
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    display: none;
    opacity: 0;
    transition: opacity 3s;
    z-index: 101;
    /*transition-property: opacity;*/
    /*transition-duration: 3s;*/
    justify-content: center;
    align-items: center;
}
    .modal-window{
        z-index: 2;
        width: 700px;
        height: 400px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20px;
        box-shadow: 0 0 15px 5px rgb(255, 41, 247);
        background-image: url("gatsby4.0.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
        .modal-window-text{
            height: 60px;
            padding: 0 30px;
            border-radius: 4px;
            background: rgba(0, 0, 0, .5);
            color: white;
            font-weight: 700;
            font-size: 30px;
            font-family: sans-serif;
            text-align: center;
            line-height: 60px;
            text-transform: uppercase;
        }
    .modal-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.reversyRed{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ff9acf;
    box-shadow: 0 0 15px 2px rgb(255, 82, 126);
}
.reversyGreen{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #7bff84;
    box-shadow: 0 0 15px 2px rgb(97, 255, 66);
}